*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
*::-webkit-scrollbar {
  display: none;/* Chrome, Safari and Opera */

}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8fafc;
  color: #111;
  height: 100%;
}

header {
  background-color: #155975;
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
}

header input {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

main {
  padding: 1rem;
  height: calc(100% - 120px);
  overflow-y: auto;
  overflow-x: hidden;
}

section {
  margin-bottom: 2rem;
}
section:first-of-type {
  width: calc(100% + 16px);
  padding-right: 16px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #184764;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 0.5rem;
  scroll-snap-type: x mandatory;
}




.scroll-card {
  flex: 0 0 auto;
  max-width: 80%;
  min-width: 200px;
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  scroll-snap-align: start;
}
.scroll-card h3 {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
}

.scroll-card p {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.4;
}
